<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="icon" ype="image/png" href="https://img.icons8.com/nolan/64/monitor.png">
    <title>threebooks</title>
</head>
<body>
    <header>
        <nav>
            <a href="">Google</a>
            <a href="">Facebook</a>
            <a href="">Amazon</a>
        </nav>
    </header>
